1. Извлекать реплики с приветствием – где менеджер поздоровался.   
2. Извлекать реплики, где менеджер представил себя. 
3. Извлекать имя менеджера. 
4. Извлекать название компании. 
5. Извлекать реплики, где менеджер попрощался.
6. Проверять требование к менеджеру: «В каждом диалоге обязательно необходимо поздороваться и попрощаться с клиентом»

In [24]:
import pandas as pd
import re
import numpy as np

In [2]:
df = pd.read_csv('/Users/nikita/Downloads/test_data.csv')

In [3]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dlg_id  480 non-null    int64
 1   line_n  480 non-null    int64
 2   role    480 non-null    object
 3   text    480 non-null    object
dtypes: int64(2), object(2)
memory usage: 15.1+ KB

   dlg_id  line_n     role                                               text
0       0       0   client                                               Алло
1       0       1  manager                                  Алло здравствуйте
2       0       2   client                                        Добрый день
3       0       3  manager  Меня зовут ангелина компания диджитал бизнес з...
4       0       4   client                                                Ага

In [4]:
df['text'] = df['text'].str.lower()

In [5]:
greeting_list = ['добрый', 'здравствуйте', 'доброе', 'доброго', 'привет']
naming = ['имя', 'зовут', 'звать']
company_name = ['компания', 'компанию']
farewell = ['пока', 'всего доброго', 'всего наилучшего', 'до свидания', 'прощайте']

In [6]:
df_manager = df.query('role == "manager"')
df_manager.head()

    dlg_id  line_n     role                                               text
1        0       1  manager                                  алло здравствуйте
3        0       3  manager  меня зовут ангелина компания диджитал бизнес з...
5        0       5  manager  угу ну возможно вы рассмотрите и другие вариан...
8        0       8  manager      угу а на что вы обращаете внимание при выборе
11       0      11  manager                              что для вас приоритет

In [79]:
df_manager['greeting'] = df_manager['text'].str.contains('добрый|здравствуйте|доброе|привет', case=False, na=False)
df_manager['farewell'] = df_manager['text'].str.contains('пока|всего доброго|всего наилучшего|до свидания|прощайте', case=False, na=False)
df_manager['requirement'] = np.where((df_manager['greeting']==True) & (df_manager['farewell']==True),'yes','no')
df_manager['naming'] = df_manager['text'].str.contains('зовут|имя', case=False, na=False)
df_manager['company_name'] = df_manager['text'].str.contains('компанию|компания', case=False, na=False)

/var/folders/7s/1gvybq3x6vdg9lg0yvk2vpxw0000gn/T/ipykernel_35057/767820439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_manager['greeting'] = df_manager['text'].str.contains('добрый|здравствуйте|доброе|привет', case=False, na=False)
/var/folders/7s/1gvybq3x6vdg9lg0yvk2vpxw0000gn/T/ipykernel_35057/767820439.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_manager['farewell'] = df_manager['text'].str.contains('пока|всего доброго|всего наилучшего|до свидания|прощайте', case=False, na=False)
/var/folders/7s/1gvybq3x6vdg9lg0yvk2vpxw0000gn/T/ipykernel_35057/767820439.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_manager['requirement'] = np.where((df_manager['greeting']==True) & (df_manager['farewell']==True),'yes','no')
/var/folders/7s/1gvybq3x6vdg9lg0yvk2vpxw0000gn/T/ipykernel_35057/767820439.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_manager['naming'] = df_manager['text'].str.contains('зовут|имя', case=False, na=False)
/var/folders/7s/1gvybq3x6vdg9lg0yvk2vpxw0000gn/T/ipykernel_35057/767820439.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_manager['company_name'] = df_manager['text'].str.contains('компанию|компания', case=False, na=False)

## 1. Извлекать реплики с приветствием – где менеджер поздоровался.

In [80]:
greeting_df = df_manager[df_manager['greeting']== True]
display(greeting_df['text'].to_list())

['алло здравствуйте',
 'алло здравствуйте',
 'алло здравствуйте',
 'алло дмитрий добрый день',
 'добрый меня максим зовут компания китобизнес удобно говорить']

## 2. Извлекать реплики, где менеджер представил себя.

In [81]:
naming_df = df_manager[df_manager['naming']== True]
display(naming_df['text'].to_list())

['меня зовут ангелина компания диджитал бизнес звоним вам по поводу продления лицензии а мы с серым у вас скоро срок заканчивается',
 'меня зовут ангелина компания диджитал бизнес звоню вам по поводу продления а мы сели обратила внимание что у вас срок заканчивается',
 'меня зовут ангелина компания диджитал бизнес звоню вам по поводу продления лицензии а мастера мы с вами сотрудничали по видео там',
 'добрый меня максим зовут компания китобизнес удобно говорить']

## 3. Извлекать имя менеджера.

In [86]:
names = naming_df['text'].to_list()
names_only = []
for name in names:  
    start = name.find('меня')
    end = name.find('компания')
    names_only.append(name[start +5 :end +0])
names_only

['зовут ангелина ', 'зовут ангелина ', 'зовут ангелина ', 'максим зовут ']

## 4. Извлекать название компании.

In [65]:
company_df = df_manager[df_manager['company_name']== True]

companies = company_df['text'].to_list()
companies_only = []
for company in companies:  
    start = company.find('компания')
    end = company.find('бизнес')
    companies_only.append(company[start +9 :end +7])
companies_only

['диджитал бизнес ', 'диджитал бизнес ', 'диджитал бизнес ', 'китобизнес ', '']

## 5. Извлекать реплики, где менеджер попрощался.

In [50]:
farewell_df = df_manager[df_manager['farewell']== True]
display(farewell_df['text'].to_list())

['всего хорошего до свидания',
 'до свидания',
 'угу все хорошо да понедельника тогда всего доброго',
 'во вторник все ну с вами да тогда до вторника до свидания',
 'ну до свидания хорошего вечера']

## 6. Проверять требование к менеджеру: «В каждом диалоге обязательно необходимо поздороваться и попрощаться с клиентом»

In [51]:
df_manager[df_manager['requirement']=='yes']

Empty DataFrame
Columns: [dlg_id, line_n, role, text, greeting, farewell, requirement, naming, company_name]
Index: []

В представленных диалогах не было менеджеров, кто бы и поздоровался и попрощался с клиентом

In [8]:
df_manager['message'] = re.split('«[А-я ]+»', df_manager['text'])

TypeError: expected string or bytes-like object

In [ ]:
def greeting(greeting):
    if df_manager['text'] in greeting_list:
        df_manager['greeting'] = 'yes'
    else:
        df_manager['greeting'] = 'no'

In [ ]:
streets = rest_data['address'].to_list()
streets_only = []
for street in streets:  
    start = street.find('город москва')
    end = street.find('дом')
    streets_only.append(street[start+12:end-1])
rest_data['street_name'] = streets_only
rest_data['street_name'] = rest_data['street_name'].str.strip()
rest_data.head()

In [ ]:
def purpose_type(list):
    
    if 'автомобил' in list:
        return "операции с автомобилем"
    if "образован" in list:
        return "получение образования"
    if "свадьб" in list:
        return "проведение свадьбы"
    if "недвижимост" in list:
        return "операции с недвижимостью"
    if "строит" in list:
        return "операции с недвижимостью"
    if "жил" in list:
        return "операции с недвижимостью"
    return ' '

data['purpose_category'] = data['purpose'].apply(purpose_type)
data = data.drop(['purpose'],axis = 1)
data['purpose_category'].unique()